<h1>Cart</h1>
 <table WIDTH="50%" BORDER="2" ALIGN="CENTER" CELLSPACING="40">
        <tr ALIGN="Center">
            <td>Item Seller</td>
            <td>Item Name</td>
            <td>Price</td>
            <td>Quantity</td>
        </tr>
        <%= render 'sessions/cart_contents' %>
        <tr ALIGN = "Center">
            <td>
                Order Total:
            </td>
            <td>
            </td>
            <% if session[:cart] %>
                <%= render 'sessions/cart_price' %>
            <% end %>
        </tr>
    </table>
    <br>
    <%= link_to "Checkout", checkout_path, class: "btn pull-right btn-primary" %>