<h3> Instructions </h3>
TO GET ALL UNPICKED UP DELIVERIES: Select "not picked up" leave search blank. <br>
TO GET ALL TRANSACTIONS: Select "transaction". To filter, leave a number, X, to 
find all transactions which aren't complete and which haven't been updated in at
least X hours.<br>

<%= render "form_controls" %>
<% if params[:type] == "not picked up" %>
  <%= render "not_picked_up" %>
<% elsif params[:type] == "transaction" %>
  <%= render "deliveries" %>
<% end %>