<% provide(:title, "Users") %>
<h1>Items</h1>

<table>
    <% User.all.each do |user| %>
    <tr>
        <td>
            <%= user.first_name %>
        </td>
        <td>
            <%= user.last_name %>
        </td>
        <td>
            <%= user.email %>
        </td>
        <% end%>
    </tr>
    
</table>