<% provide(:title, "Receipts") %>

<h1>Receipts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Item</th>
      <th>Seller</th>
      <th>Quantity</th>
      <th>Charge</th>
    </tr>
  </thead>
    <% for @user.receipts.each do |receipt|%>
      <tr ALIGN = "Center">
        <%= render partial: "receipt", object: receipt %>
      </tr>
    <% end %>
</table>