<% provide(:title, "Ticketing") %>
<div class="center jumbotron" style="margin-top:15px">
    <h3 style="margin-bottom:30px">
        Welcome to Ticketing!</h3>
        <% if current_user == nil%>
             <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
        <%end%>
</div>
<body>
    <%= render 'tickets' %>
</body>
